@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

.form-control.no-validate:valid {
    border-color: $input-border-color;
    padding: $input-padding-x;
    background: $input-bg;
}

#options-form {
    margin-top: 20px;
    margin-bottom: 20px;

    .restore-settings {
        margin-bottom: 0;

        input {
            display: none;
        }
    }
}

#comfy-domain-list {
    & > div {
        padding: 1rem;
        border: 1px solid $list-group-border-color;
        border-radius: $border-radius;
        margin-bottom: $form-group-margin-bottom;
    }
}

#comfy-domains {
    width: 100%;
    margin-bottom: $form-group-margin-bottom;

    tr:not(:first-child) td {
        padding-top: 4px;
    }

    td, th {
        padding-left: 5px;
        padding-right: 5px;

        &.patterns {
            width: 100%;
        }
        
        &.actions {
            width: 1%;
        }
    }    
}